name: "Publish Artifacts"

on:
  workflow_call:
    inputs:
      COMPONENT:
        description: "The component type.  i.e. stable, rc, dev, main."
        required: true
        type: string
      UBUNTU_VERSION:
        required: true
        type: string
      distribution:
        required: true
        type: string
      moduleName:
        required: true
        type: string
    secrets:
      INDY_ARTIFACTORY_REPO_CONFIG:
        required: true
      PYPI_API_TOKEN:
        required: true


jobs:
  publish_artifacts:
    name: Publish Artifacts
    runs-on: ubuntu-22.04
    env:
      COMPONENT: ${{ inputs.COMPONENT }}
      UBUNTU_VERSION: ${{ inputs.UBUNTU_VERSION }}
    steps:
      - name: Check out code
        uses: actions/checkout@v6

      - name: Setup JFrog CLI
        uses: jfrog/setup-jfrog-cli@v4
        env:
          JF_ENV_1: ${{ secrets.INDY_ARTIFACTORY_REPO_CONFIG }}

      - name: Ping Artifactory
        run: |
          # Test the connection to Ping the Hyperledger Artifactory server
          # to ensure everything has been setup correctly.
          jfrog rt ping

      - name: Download Artifacts from Pipeline Artifacts
        uses: actions/download-artifact@v7
        with:
          name: ${{ inputs.moduleName }}-deb
          path: to_publish

      - name: Publish Artifacts
        uses: hyperledger/indy-shared-gha/.github/actions/publish-deb@v2
        with:
          sourceDirectory: ./to_publish
          distribution: ${{ inputs.distribution }}
          component: ${{ env.COMPONENT }}

      - name: Download Artifacts from Pipeline Artifacts
        uses: actions/download-artifact@v7
        with:
          name: third-party-dependencies
          path: ./third-party-dependencies_to_publish

      - name: Publish 3rd Party Dependencies
        uses: hyperledger/indy-shared-gha/.github/actions/publish-deb@v2
        with:
          sourceDirectory: ./third-party-dependencies_to_publish
          distribution: ${{ inputs.distribution }}
          component: ${{ env.COMPONENT }}

      - name: Download Python Packages from Pipeline Artifacts
        uses: actions/download-artifact@v7
        with:
          name: ${{ inputs.moduleName }}-python
          path: dist

      - name: Publish Python Package to PyPI
        # Trusted Publishing Support
        # - https://github.com/pypa/gh-action-pypi-publish?tab=readme-ov-file#trusted-publishing
        # - Though pypa/gh-action-pypi-publish supports trusted publishing, trusted publishing is not
        #   supported within reusable workflows.
        # - Since we're using pypa/gh-action-pypi-publish from within a reusable workflow
        #   we are unable to use trusted publishing.
        # - Following the guidance to use trusted publishing requires the action be called
        #   from the top-level (in the non-reusable workflow).  Since publishing is common
        #   to the indy projects this would create unwanted code duplication.
        # - The hope is trusted publishing will be supported from within reusable workflows
        #   in the future.
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          user: __token__
          password: ${{ secrets.PYPI_API_TOKEN }}
          skip-existing: true
